.topNav {
  position: absolute;
  width: 100%;
  background: linear-gradient(180deg, black, transparent);
  z-index: 10;
}
.topNav select {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #aaa;
  color: #fff;
  font-size: 0.875rem;
  padding-top: 0.2rem;
  padding-left: 1rem;
  padding-right: 0.8rem;
  padding-bottom: 0.4rem;
  margin-right: 20px;
  border-radius: 4px;
}
.topNav select:hover {
  color: rgba(255, 255, 255, 0.5);
}
